body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background: rgb(151,233,149);
    background: radial-gradient(circle, rgba(151,233,149,1) 0%, rgba(228,255,226,1) 25%, rgba(200,255,253,1) 53%, rgba(18,148,92,1) 97%);
    text-align: center;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    min-height: 100vh;
}

h1 {
    color: #1c5c5b;
    font-size: 80px; 
    margin-top: 100;
    padding-top: 20px;
}

#message-el, .sum-el, #player-el, #cards-label, #cards-el {
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(10px);
    padding: 15px 20px;
    border-radius: 10px;
    margin: 15px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 1.25rem; 
}

button {
    font-size: 1rem; 
    padding: 15px 30px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 20px 10px; 
}

#control-buttons, #results{
    display: flex;
    flex-direction: row;
}

#results{
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-right: 20px;
}

#start-game-el {
    background: rgb(39, 147, 66); 
    color: #fff;
}

#new-card-btn {
    background: rgba(79, 157, 98, 0.645); 
    color: #fff;
}

#start-game-el:hover {
    background: rgb(19, 73, 33); 
}

#new-card-btn:hover {
    background: rgba(36, 87, 49, 0.645); 
}


.card {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    padding: 20px 25px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 1.5rem; /* Plus grand */
}

@media (max-width: 600px) {
    body {
        flex-direction: column;
    }

    #cards-el {
        flex-direction: column;
    }
}
